################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/packages
/PK.DB.Utilities/bin/Debug/netstandard2.0
/PK.DB.Utilities/obj
/PK.DB.Utilities.Test/bin/Debug
/PK.DB.Utilities.Test/obj/Debug
/PK.DB.Utilities.Test/Core/Compression
/.vs/PK.DB.Utilities/v16
/PK.DB.Utilities/bin/Debug
